<a href="https://colab.research.google.com/github/Suppppppp/pre_gj_ai/blob/master/3%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3주차 과제
- 학습률 최적화
- 군집 분석(병합 계층 군집) 구현 클론 코딩
- Cost function 구현

## 1. 학습률 최적화

간단한 예제를 통해 학습률 최적화의 중요성에 대해서 확인 해 보도록 하겠습니다.

아래 링크에서 __1단계만__에 손실 곡선의 최저점에 도달하게 하는 학습률을 찾아 정답을 적어주세요

링크: https://developers.google.com/machine-learning/crash-course/fitter/graph?hl=ko

### 정답 : 1.6

## 2. 군집 분석(병합 계층 군집) 구현 클론 코딩

군집 분석 강의(군집문제[2] 3:10 ~ 5:20 부분)를 보고 코드를 따라 치며 출력 결과(과제 설명 페이지 참고)를 만드세요. 

강의에서는 데이터 시각화까지 진행하지만 
과제에서는 표를 출력하는 것 까지만 하시면 됩니다.

3주차 과제 안내 페이지를 보시면 표에 대한 이미지가 있습니다. 참고해주세요

In [0]:
import numpy as np

np.random.seed(123)
x = np.random.random_sample([5,3])*10 # 5x3행렬에 0~ 1사이값 생성하고 여기에 10곱하기

In [2]:
import pandas as pd

variables = ['x','y','z']
labels = ['id_0','id_1','id_2','id_3','id_4']
df = pd.DataFrame(x,columns= variables,index=labels)
df

             x         y         z
id_0  6.964692  2.861393  2.268515
id_1  5.513148  7.194690  4.231065
id_2  9.807642  6.848297  4.809319
id_3  3.921175  3.431780  7.290497
id_4  4.385722  0.596779  3.980443

In [3]:
# 축약된 거리행렬 계산모듈 pdist ==> 거리값만 있고 각 본인 위치 0이라던지 정보없는거 거리계산값만있음
## squareform은 거리행렬 벡터를 행렬형식으로 변환 ==> 위에처럼 축약된게 아니라 0이라 다넣고 행렬형태반환
from scipy.spatial.distance import pdist, squareform
y = pdist(df)  # df의 x,y,z간의 거리에 대하여 축약된 거리 행렬값으로 반환함
y

array([4.973534  , 5.51665266, 5.89988504, 3.83539555, 4.34707339,
       5.10431109, 6.69823298, 7.24426159, 8.31659367, 4.382864  ])

In [0]:
row_dist = pd.DataFrame(squareform(pdist(df,metric='euclidean')),## 위의 y와동일
                       columns=labels,index = labels)

In [0]:
from scipy.cluster.hierarchy import linkage

In [8]:
# linkage 계층 군집해주는 함수
# complete linkage 방식은 두 클러스터상에서 가장 먼 거리를 가지는 데이터 포인트 측정하는 방식
# 입력 데이터셋은 squareform 처럼 행렬형식이 아니라
# pdist처럼 축약된 거리행렬 형태로 넣어준다
row_clusters = linkage(pdist(df,metric='euclidean'),
                      method = 'complete')

result_df= pd.DataFrame(row_clusters,
            columns = ['row_level_1','row_level_2','distance','no. of items in clust'],
            index = ['cluster %d' %(i+1) for i in range(row_clusters.shape[0])])
result_df

           row_level_1  row_level_2  distance  no. of items in clust
cluster 1          0.0          4.0  3.835396                    2.0
cluster 2          1.0          2.0  4.347073                    2.0
cluster 3          3.0          5.0  5.899885                    3.0
cluster 4          6.0          7.0  8.316594                    5.0

## 3. Cost function 구현
## $$cost(W) =  \frac{1}{n}\sum_{i=1}^n (Wx^{(i)}-y^{(i)})^2$$

### 데이터(X, Y)

In [0]:
# 제공된 데이터는 변경 할 수 없습니다.
x = [1, 2, 3]
y = [2, 4, 6]

### cost function을 파이썬으로 구현하세요.
pass를 지우고 cost_func 함수를 완성하세요.

가중치(Weight)를 입력하면 코스트(cost)를 계산하는 함수를 만드는게 목적입니다.

In [0]:
# W(가중치) 데이터 타입 -> int or float
# x(학습 데이터) 데이터 타입 -> list
# y(정답 데이터) 데이터 타입 -> list
# cost_func 함수 리턴값 타입 -> float
# cost_func 함수 리턴값 = cost 값
# W:가중치, x:학습 데이터 y:정답 데이터

def cost_func(W, x, y):
    se = 0
    for a,b in zip(x,y):
        se+=((W*a)-b)**2
    cost = se/len(x)
    return cost

예시) x가 [1, 2] 이고 y가 [3, 6] 그리고 W가 4 일 경우  cost_func(W, x, y)함수의 리턴값은 2.5

### cost_func을 활용하여 웨이트(Weight)가 -5부터 5까지의 변화에 따른 코스트(cost)를 출력 해주세요.

In [15]:
# 여기 코드셀은 변경하지 마세요.
# 완성된 함수를 확인하는 과정으로 해당 코드셀을 실행해서 정상 출력되면 정답!
# 주의! 에러가 날 경우 데이터 코드셀과 cost function 코드셀을 실행했는지 확인해주세요.
for feed_W in range(-5, 6, 1):
  curr_cost = cost_func(feed_W, x, y)
  print("{:6.3f} | {:10.5f}".format(feed_W, curr_cost))

-5.000 |  228.66667
-4.000 |  168.00000
-3.000 |  116.66667
-2.000 |   74.66667
-1.000 |   42.00000
 0.000 |   18.66667
 1.000 |    4.66667
 2.000 |    0.00000
 3.000 |    4.66667
 4.000 |   18.66667
 5.000 |   42.00000